/* Estilos adicionales para la página de búsqueda de usuarios */

body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
}

h1, h2 {
    color: white;
}

.input-group .form-control {
    border-radius: 0;
}

.input-group .btn-outline-light {
    border-radius: 0;
    border-color: #fff;
    color: #fff;
}

.input-group .btn-outline-light:hover {
    background-color: #fff;
    color: #6a11cb;
}

#usuarios-list .usuario-item {
    background-color: #343a40;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    padding: 15px;
}

#usuarios-list .usuario-link {
    color: #fff;
    text-decoration: none;
}

#usuarios-list .libros-prestados li {
    background-color: #454d55;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

#loading {
    display: none;
}

.spinner-border {
    color: #fff;
}
